{#{% extends 'teacher/Amaze.html' %}#}
{% extends 'base.html' %}/

{% block add_class %}
    <a href="/teacher/add_class/">
<button type="button" class="btn btn-primary" >
  添加班级
</button>
    </a>
{% endblock %}
{% block class-main %}
      <table class="table table-bordered">


                    {#  <caption>上下文表格布局</caption>#}
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>班级编号</th>
                        <th>班级</th>
                        <th>操作</th>
                    </tr>
                    </thead>


                    <tbody>

                    {% for class in class_all %}
                        <tr>
                            <td> {{ forloop.counter }}</td>
                            <td> {{ class.id }} </td>
                            <td> {{ class.name }} </td>
                            <td>
                                <a href="/teacher/del_class/?id={{ class.id }}">
                                    <button class="btn btn-primary btn-lg">
                                        删除
                                    </button>
                                </a>

{#                                <a href="{% url 'teacher:edit_class' %}?id={{ class.id }}">#}
{#                                    <button class="btn btn-primary btn-lg">#}
{#                                        修改#}
{#                                    </button>#}
{#                                </a>#}
                                {#                                <button class="btn btn-warning edit-author">模态框编辑</button>#}
                                {#                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">#}
                                {#    修改作者#}
                                {#</button>#}

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
{% endblock %}