{% extends 'teacher/../base.html' %}

{% block add_class %}
    <a href="{% url 'teacher:add_student' %}">
<button type="button" class="btn btn-primary" >
  添加学生
</button>
    </a>
{% endblock %}


{% block student-main %}
<table class="table table-bordered">
    {#  <caption>上下文表格布局</caption>#}
    <thead>
    <tr>
        <th>序号</th>
        <th>学生编号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    {% for student in student_list %}
        <tr>
            <td>{{  student.counter }}</td>
            <td> {{ student.id }} </td>
            <td> {{ student.name }} </td>
            <td> {{ student.classroom.name }} </td>

            <td>
                <a href="/teacher/del_student/?id={{ student.id }}">
                    <button class="btn btn-primary btn-lg">
                        删除
                    </button>
                </a>

                <a href="/teacher/edit_student/?id={{ student.id }}">
                    <button class="btn btn-primary btn-lg">
                        修改
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}