<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码详情页面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<table class="table table-striped">
    <thead>
        <tr>
            <th>账号</th>
            <th>密码</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>wenxuan</th>
            <th>qaz123456</th>
        </tr>     <tr>
            <th>wenxuan001</th>
            <th>qwer1234</th>
        </tr>     <tr>
            <th>wenxuan002</th>
            <th>qwer1234</th>
        </tr>
    </tbody>

</table>

</body>
</html>