<ul class="nav nav-sidebar navbar-inverse">
    {% for menu in menu_list %}
        <li class="{{ menu.class }}"><a href="{{ menu.url }}"><span
                class="icon-wrap"><i
                class="fa {{ menu.icon }}"></i></span>{{ menu.title }}</a></li>
    {% endfor %}
</ul>

{#        <ul class="nav nav-sidebar navbar-inverse">#}
{#                <li class="{% if flag_page == 'cus_list' %}active{% endif %}"><a href="{% url 'crm:cus_list' %}">客户列表</a></li>#}
{#                <li class="{% if flag_page == 'pirvate' %}active{% endif %}"><a href="{% url 'crm:pirvate' %}">我的客户</a></li>#}
{#                <li class="{% if flag_page == 'record_list' %}active{% endif %}"><a href="{% url 'crm:record_list' %}">跟进列表</a></li>#}
{#                <li class="{% if flag_page == '' %}active{% endif %}"><a href="{% url 'crm:enrollment' 0%}">查看我的客户报名表</a></li>#}
{#                <li class="{% if flag_page == '' %}active{% endif %}"><a href="{% url 'crm:class_list' %}">班级管理</a></li>#}
{#            </ul>#}
