{% extends 'teacher/../base.html' %}



{% block add_class %}
    <a href="/teacher/add_teacher/">
<button type="button" class="btn btn-primary" >
  添加老师
</button>
    </a>
{% endblock %}

{% block teacher-main %}

    <table class="table table-bordered">
        {#  <caption>上下文表格布局</caption>#}
        <thead>
        <tr>
            <th>序号</th>
            <th>老师编号</th>
            <th>姓名</th>
            <th>所带班级</th>

            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        {% for teacher in teacher_list %}
            <tr>
                <td>{{ teacher.counter }}</td>
                <td> {{ teacher.id }} </td>
                <td> {{ teacher.name }} </td>
                <td>

                    {% for class in teacher.classroom.all %}
                        {% if forloop.last %}
                            {{ class.name }}
                        {% else %}
                            {{ class.name }} |
                        {% endif %}

                    {% empty %}
                        没有带班
                    {% endfor %}


                </td>
                <td>
                    <a href="/teacher/del_teacher/?id={{ teacher.id }}">
                        <button class="btn btn-primary btn-lg">
                            删除
                        </button>
                    </a>

                    <a href="/teacher/edit_teacher/?id={{ teacher.id }}">
                        <button class="btn btn-primary btn-lg">
                            修改
                        </button>
                    </a>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
